body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid white;
}

.table-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table,
th,
td {
  border: 0.5px solid white;
  border-collapse: collapse;
  color: black;
}
th,
td {
  background-color: #67dbdb;
}

button {
  color: white;
}

button.delete {
  background-color: red;
}

button.add {
  background-color: green;
}

a.add {
  background-color: green;
  color: white;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  height: 30px;
}

.test {
  background-color: red;
}
